* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
	color:				#DDDDDD;
	background:			black url(images/background.jpg) top left no-repeat;
	
}

headerimg {
	position: 			relative;
	top: 				40px;
	float:				left;
	 background-position: 100% 100%;
   background-repeat: no-repeat;
	
}
.suggestionButton {

}

.accusationButton{

}


.board {
    display: block;
    margin: 0 auto;
}
.startGame{

}
.player-options{
    float:right;
	padding: 5px;
}

.player-game-options{
    float:left;
	padding: 5px;
}

.wrapper {
    display:inline;
}
.mbar {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
table {
    border-collapse: collapse;
}
td {
    width: 120px;
}
table, td, th {
    border: 1px solid black;
}
.notepad {
	padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
	max-width: 150px;
	
}

.messages {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 5px;

}
label{
    display:block;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

#messages {
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.8);
}

